.fl{
	float: left;
}
.fr{
	float: right;
}
.clearfix{
	*zoom:1;
}
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
.bg{
	background-image: url(../img/bg.png);
	background-repeat: no-repeat;
}